* {
  text-align: center;
  background:#3d6d79;
  font-family: sans-serif;
  image-orientation: center;
}

h2 {
  color:#ffffff;
}

.secondary-container{
  margin: auto;
  width:60%;
  padding: 10px;
  border-bottom: 2px gray solid;
  font-family: sans-serif;
  font-size: 18px;
  color: #e0e2ee;
}

#mainheader{
    position: relative;
    /*Italicized for film title - also a common salutation in the 40s */
    font-style: italic;
    top:5px;
    color: #d69d66;
    font-size: 40px;
}
/*Size down from #mainheader – maintain style */
#subheader{
    position: relative;
    font-style: bold;
    top:5px;
    color: #d69d66;
    /*Diminish color - blend with background */
    opacity: .8;
    font-size: 30px;
}
