@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=IBM+Plex+Sans:wght@100&family=Jost:wght@300;400&family=Montserrat&family=Open+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  text-decoration: none;
  background-color: #F4F0DB;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #26272b;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 0;
    height: 4em;
    width: 100%;
    text-align: center;
    font-weight: 500;
    padding-bottom: 5%;
}

.title {
  width: 25%;
  float: left;
  text-align: center;
  padding-top: 9%;
  padding-right: 1%;
  font-family: 'Open Sans', sans-serif;
}

.title-image {
  background-image: url("../images/helmville_via_marcum.jpg");
  padding-top: 35%;
  background-repeat: no-repeat;
  background-position: center;
  float: left;
  width: 75%;
}

.title-content {
  font-family: 'Open Sans', sans-serif;
  border-bottom: 1px gray solid;
  padding-bottom: 1%;
  padding-top: 1%;
  margin: auto;
  width: 90%;
  text-align: left;
}

.home-image {
  background-image: url("../images/helmville_via_marcum.jpg");
  padding-top: 45%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
}

/*.centered {
  position: fixed;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  opacity: .8;
  font-family: 'Open Sans', sans-serif;
}*/

.menu-item {
    display: inline-block;
    margin: 1em .2em;
    min-width: 6em;
    text-align: center;
    background-color: #26272b;
    padding: 0.5em 1em;
}

.menu-item a {
    color: #fff;
    background-color: inherit;
    text-decoration: none;
}

.menu-item:hover {
    background-color: gray;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    border: 1px solid #000;
    margin: 0.5em 0 0 -1em;
    color: #000;
    background-color: #fff;
    z-index: 1;
}
.dropdown-content a {
    color: #000;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-item {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0.5em 1em 0.5em 1em;
    min-width: 5.9em;
}

.dropdown-item:hover, .dropdown-item:hover a {
    color: black;
    background-color: #a2a2a2;
}

h1 {
  font-weight: 400;
}

.contact {
  font-family: 'Open Sans', sans-serif;
  padding-top: 3.5em;
  text-align: center;
  text-decoration: none;
}

.contact a{
  color: black;
}

.contact a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.map {
  position: relative;
  overflow: hidden;
  width: 100%;
  height:500px;
}

.responsive-iframe {
  position: absolute;
  top: 0;
  left: 28%;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 100%;
}
/*.responsive-iframe {
  position: absolute;
  top: 0;
  left: 28%;
  bottom: 0;
  right: 0;
  width: 45%;
  height: 50%;
  /*margin? why is there blank space below map?*/

/*.forestry {
  padding-top: 3.5em;
  font-family: 'Open Sans', sans-serif;
  text-align: left;
  display: table;
}*/

.woodwork {
  padding-top: 4em;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
}

#form {
  display: table;
  float: left;
  position: relative;
  width: 50%;
  height: auto;
  font-family: 'Open Sans', sans-serif;
}

.canoe {
  padding-top: 4em;
  height: auto;
  float: right;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;
  }

.row::after {
    content: "";
    clear: both;
    display: table;
  }

h2 {
  padding-top: 5%;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  position: static;
}

.col-12 {
  text-align: center;
}

#road {
  display: table;
  float: left;
}

#fire {
  float: right;
}
